<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.utilizador.pirloit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Match&apos;it"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".inscreverFutebol" />
        <activity android:name=".criarEvento" />
        <activity android:name=".EventoConfirmado" />
        <activity android:name=".escolherEvento" />
        <activity android:name=".inscreverFutebol2" />
        <activity android:name=".inscreverVolley" />
        <activity android:name=".inscreverVolley2" />
        <activity android:name=".inscreverBasket"></activity>
    </application>

</manifest>